<div class="options">
    <fieldset>
        <legend class="sr-only">{{{question.prompt}}}</legend>
        
        <label class="option schorm-option">
            <input type="radio"
                   name="question-{{question.id}}"
                   value="true">
            <span>True</span>
        </label>
        
        <label class="option schorm-option">
            <input type="radio"
                   name="question-{{question.id}}"
                   value="false">
            <span>False</span>
        </label>
    </fieldset>
</div>
