<div class="media-block {{media.type}}">
    {{#if (eq media.type "image")}}
    <figure>
        <img src="{{media.url}}" alt="{{media.alt}}">
        {{#if media.caption}}
        <figcaption>{{media.caption}}</figcaption>
        {{/if}}
    </figure>
    {{/if}}
    
    {{#if (eq media.type "video")}}
    <figure>
        <video controls {{#if media.autoplay}}autoplay{{/if}}>
            <source src="{{media.url}}" type="{{media.mimeType}}">
            Your browser does not support the video tag.
        </video>
        {{#if media.caption}}
        <figcaption>{{media.caption}}</figcaption>
        {{/if}}
    </figure>
    {{/if}}
    
    {{#if (eq media.type "audio")}}
    <figure>
        <audio controls>
            <source src="{{media.url}}" type="{{media.mimeType}}">
            Your browser does not support the audio tag.
        </audio>
        {{#if media.caption}}
        <figcaption>{{media.caption}}</figcaption>
        {{/if}}
    </figure>
    {{/if}}
</div>
