<div class="media-block {{media.type}}">
    {{#if (eq media.type "image")}}
    <figure>
        <img src="{{media.src}}" alt="{{media.title}}">
        {{#if media.title}}
        <figcaption>{{media.title}}</figcaption>
        {{/if}}
    </figure>
    {{/if}}
    
    {{#if (eq media.type "video")}}
    <figure>
        <video controls {{#if media.poster}}poster="{{media.poster}}"{{/if}}>
            <source src="{{media.src}}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        {{#if media.title}}
        <figcaption>{{media.title}}</figcaption>
        {{/if}}
    </figure>
    {{/if}}
    
    {{#if (eq media.type "audio")}}
    <figure>
        <audio controls>
            <source src="{{media.src}}" type="audio/mpeg">
            Your browser does not support the audio tag.
        </audio>
        {{#if media.title}}
        <figcaption>{{media.title}}</figcaption>
        {{/if}}
    </figure>
    {{/if}}
</div>
